.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: rgb(8, 136, 19);
}

h1 {
  margin: 30px;
  font-family: "Lobster", Arial, Helvetica, sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: lightslategray;
}

p {
  font-size: 2rem;
  color: lightslategray;
  font-family: "Indie Flower", cursive;
}

img {
  width: 100%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
